{% extends 'index.html' %}
{% load static %}
{% block content %}
    <!-- header-end -->

    <!-- bradcam_area  -->
    <div class="bradcam_area breadcam_bg_2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Mix Tapes</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->
    <!-- music_area  -->
    <div class="music_area music_gallery inc_padding">
        <div class="container">
          {% for music in music %}
            <div class="row align-items-center justify-content-center mb-20">
                <div class="col-xl-10">
                    <div class="row align-items-center">
                                <div class="col-xl-9 col-md-9">
                                    <div class="music_field">
                                            <div class="thumb">
                                                    <img src="{{ music.img.url }}" alt="" style="width:150px;height:150px">
                                                </div>
                                                <div class="audio_name">
                                                    <div class="name">
                                                        <h4>{{ music.singer_name }}</h4>
                                                        <p>{{ music.title }}</p>
                                                    </div>
                                                        <audio  controls >
                                                                <source src="{{ music.musicfile.url }}" type=audio/mp3>
                                                            </audio>
                                                </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-3">
                                    <div class="music_btn">
                                            <a href="{% url'download_page' music.pk %}" class="boxed-btn">Download Link</a>
											
                                    </div>
                                </div>
                    </div>
                </div>


            </div>
              {% endfor %}
            </div>
            <center style = "margin-top: 200px;"><h1> VIDEOS</h1></center>
             </div>







    <!-- music_area end  -->

    <!-- youtube_video_area  -->
    <div class="youtube_video_area">

        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="single_video">
                        <div class="thumb">
                            <img src="{% static "img/video/13.jpg" %}" alt="">
                        </div>
                        <div class="hover_elements">
                            <div class="video">
                                    <a class="popup-video" href="https://www.youtube.com/embed/hoNb6HuNmU">
                                            <i class="fa fa-play"></i>
                                        </a>
                            </div>

                            <div class="hover_inner">
                                <span>Commissioner Dj Wysei</span>
                                <h3><a href="https://www.youtube.com/embed/hoNb6HuNmU">Production Studio section</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="single_video">
                        <div class="thumb">
                            <img src="{% static "img/video/11.jpg" %}" alt="">
                        </div>
                        <div class="hover_elements">
                            <div class="video">
                                    <a class="popup-video" href="https://www.youtube.com/watch?v=d3WniXqu4dE&t=2s">
                                            <i class="fa fa-play"></i>
                                        </a>
                            </div>

                            <div class="hover_inner">
                                <span>Commissioner Dj Wysei</span>
                                <h3><a href="#">Club Host in Owerri</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="single_video">
                        <div class="thumb">
                            <img src="{% static "img/video/4.jpg" %}" alt="">
                        </div>
                        <div class="hover_elements">
                            <div class="video">
                                    <a class="popup-video" href="https://www.youtube.com/watch?v=7rWu-yffVEY">
                                            <i class="fa fa-play"></i>
                                        </a>
                            </div>

                            <div class="hover_inner">
                                <span>Commissioner Dj Wysei</span>
                                <h3><a href="#">Somewhere in Lagos</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="single_video">
                        <div class="thumb">
                            <img src="{% static "img/video/12.jpg" %}" alt="">
                        </div>
                        <div class="hover_elements">
                            <div class="video">
                                    <a class="popup-video" href="https://www.youtube.com/watch?v=Hzmp3z6deF8">
                                            <i class="fa fa-play"></i>
                                        </a>
                            </div>

                            <div class="hover_inner">
                                <span>Commissioner Dj Wysei</span>
                                <h3><a href="#">club Banger</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / youtube_video_area  -->
    <br>
    <div class = "seperator">

      </div>

    <!-- contact_rsvp -->
    <div class="contact_rsvp">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="text text-center">
                        <h3>Contact</h3>
                        <a class="boxed-btn3" href="contact.html">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ contact_rsvp -->

    <!-- footer start -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-6">
                            <div class="footer_widget">
                                    <h3 class="footer_title">
                                            Services
                                    </h3>
                                <div class="subscribe-from">
                                        <form action="#">
                                                <input type="text" placeholder="Enter your mail">
                                                <button type="submit" >Subscribe</button>
                                            </form>
                                </div>
                               <!-- <p class="sub_text">Esteem spirit temper too say adieus who direct esteem esteems luckily.</p>-->
                                </div>
                    </div>
                    <div class="col-xl-5 col-md-5 offset-xl-1">
                        <div class="footer_widget">
                                <h3 class="footer_title">
                                        Contact
                                </h3>
                            <ul>
                                <li><a href="#">commissionerdjwysei@gmail.com
                                    </a></li>
                                <li><a href="#">+2348022702007
                                    </a></li>
                                <li><a href="#">no 2, Gamma road, Lagos, Nigeria</a></li>
                            </ul>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/Deejay.Wysei">
                                            <i class=" fa fa-facebook "></i>
                                        </a>
                                    </li>
                                    <!--<li>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>-->
                                    <li>
                                        <a href="https://twitter.com/djwysei?s=09">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/channel/UCWIcWqJoO_nu_uXwOulhinQ">
                                            <i class="fa fa-youtube-play"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/commissioner_djwysei/">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-7 col-md-6">
                        <p class="copy_right">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<!--Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                    <div class="col-xl-5 col-md-6">
                        <div class="footer_links">
                            <ul>
                                <li><a href="{% url 'home' %}">home</a></li>
                                <li><a href="{% url 'about' %}">about</a></li>
                                <li><a href="{% url 'mix' %}">tracks</a></li>
                                <li><a href="{% url 'events' %}">blog</a></li>
                                <li><a href="{% url 'contact' %}">contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}
    <!--/ footer end  -->

    <!-- link that opens popup -->

    <!-- JS here -->
